/* Small Devices Potrait */
@media (min-width : 480px) and (max-width:767px){
  .social-links-items a{
    font-size: 0.9rem;
  }
  .main-content h1{
    font-size: 1.4rem;
  }
  .main-content{
    height: 50vh;
    min-height: 310px;
}
  .emojis-img{
    width: 130px;
    margin: 15px;
    height: auto;
  }
  .footer-items a{
    font-size: 0.8rem;
  }
  .footer-items span{
    font-size: 0.8rem;
  }
  .footer-items img{
    width: 60px;
    height: auto;
  }
  /* model responsive css */
  .modal-content{
    width: 80%;
    
  }
  .modal-header h4{
    font-size: 0.9rem;
  }
  .close{
    font-size: 30px;
  }
  #submit{
    font-size: 0.9rem;
  }
.checkboxes{
  font-size: 0.9rem;
}
  .modal-footer p{
    font-size: 0.9rem;
  }
}
/* very small device */
@media (min-width : 320px) and (max-width: 478px) {

  .social-links-items a{
    font-size: 0.9rem;
  }
  .main-content{
    height: 65vh;
}
  .main-content h1{
    font-size: 1.3rem;
    
  }
  .emojis-img{
    width: 100px;
    margin: 5px;
    height: auto;
  }
  .footer-items a{
    font-size: 0.6rem;
  }
  .footer-items span{
    font-size: 0.8rem;
  }
  .footer-items img{
    width: 60px;
    height: auto;
  }
  /* model responsive css */
  .modal-content{
    width: 80%;
    
  }
  .modal-header h4{
    font-size: 1.2rem;
  }
  .close{
    font-size: 30px;
  }
  #submit{
    font-size: 0.8rem;
  }
  .checkboxes{
    font-size: 0.7rem;
  }
  .modal-footer p{
    font-size: 0.7rem;
  }
}